#collection {
  margin-top: 50px;
  text-align: center;
  h1 {
    font-size: 50px;
    font-style: italic;
    text-align: left;
    margin-bottom: 30px;
  }
  .card {
    text-align: left;
    width: 30%;
    display: inline-block;
    margin: 15px 10px;
    box-sizing: border-box;
    // box-shadow: 5px 0px 12px #eaeaea;
    .image {
      background: white;
      padding: 30px;
      max-height: 250px;
      min-height: 250px;
    }
    #product-description {
      min-height: 120px;
    }
    p {
      float: right;
    }
  }
  p {
    text-align: center;
    margin-bottom: 15px;
  }
}
