#landing {
  margin-top: 100px;
  border-left: 30px dotted #fedb79;
  padding-left: 20px;
  h1 {
    font-size: 70px;
    font-style: italic;
  }
  p {
    font-size: 18px;
  }
  button {
    float: right;
  }
}
